In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('Data1.xlsx')

df_final=pd.DataFrame(df["FOOD TYPE"])
df_final['ITEM']=df["ITEM"].values

In [15]:


count = df_final.groupby(['FOOD TYPE','ITEM']).size().reset_index(name = 'Frequency')
count = count.sort_values(by = 'Frequency', ascending = False)
print(count)

      FOOD TYPE                         ITEM  Frequency
4     BREAKFAST          FAST FARE BREAKFAST        142
9     BREAKFAST           TWO EGGS ANY STYLE         60
56  SANDWHICHES  WILLOW CLUB HOUSE SANDWHICH         57
52  SANDWHICHES           BUFFALO CHIC WRAPS         56
51  SANDWHICHES           BEEF DIP SANDWHICH         49
..          ...                          ...        ...
25  JUNIOR MENU           JR. CHEESE FLATBRD          1
24  JUNIOR MENU            JR. CHEESE BURGER          1
83     STARTERS            FRI - FISH PAKORA          1
20       ENTRÉE          PAN FRIED MAHI MAHI          1
75     SPECIALS    SUNDAY - HAZELNUT HALIBUT          1

[88 rows x 3 columns]

In [25]:


a=count.groupby(['FOOD TYPE'], sort=False)['Frequency'].max()
a = a.to_frame()
print(a)

                      Frequency
FOOD TYPE
BREAKFAST                   142
SANDWHICHES                  57
STARTERS                     48
SOUP                         31
RICE BOWLS AND PASTA         29
SIDE / ADD ON                24
JUNIOR MENU                  23
PIZZA                        17
ENTRÉE                       14
SPECIALS                     10
SALAD                        10
DESSERTS                      8

In [49]:

df1 = df_final.groupby('FOOD TYPE')['ITEM'].apply(lambda x: x.value_counts().index[0]).reset_index(name='Most Frequent Item')

print (df1)

               FOOD TYPE           Most Frequent Item
0              BREAKFAST          FAST FARE BREAKFAST
1               DESSERTS        STICKY TOFFEE PUDDING
2                 ENTRÉE                   OPEN FOOD
3            JUNIOR MENU                    JR. COMBO
4                  PIZZA        SPICY ITALIAN FLATBRD
5   RICE BOWLS AND PASTA           AHI TUNA POKE BOWL
6                  SALAD        TERIYAKI SALMON SALAD
7            SANDWHICHES  WILLOW CLUB HOUSE SANDWHICH
8          SIDE / ADD ON               SIDE OF TOAST
9                   SOUP              WOR WONTON SOUP
10              SPECIALS          MEN'S NIGHT FEATURE
11              STARTERS                CHICKEN WINGS

In [53]:
v = pd.merge(df1, a, on = 'FOOD TYPE', how = 'outer')
v

               FOOD TYPE           Most Frequent Item  Frequency
0              BREAKFAST          FAST FARE BREAKFAST        142
1               DESSERTS        STICKY TOFFEE PUDDING          8
2                 ENTRÉE                   OPEN FOOD          14
3            JUNIOR MENU                    JR. COMBO         23
4                  PIZZA        SPICY ITALIAN FLATBRD         17
5   RICE BOWLS AND PASTA           AHI TUNA POKE BOWL         29
6                  SALAD        TERIYAKI SALMON SALAD         10
7            SANDWHICHES  WILLOW CLUB HOUSE SANDWHICH         57
8          SIDE / ADD ON               SIDE OF TOAST          24
9                   SOUP              WOR WONTON SOUP         31
10              SPECIALS          MEN'S NIGHT FEATURE         10
11              STARTERS                CHICKEN WINGS         48

In [46]:
b=count.groupby(['FOOD TYPE'], sort=False)['Frequency'].min()
b.to_frame()

                      Frequency
FOOD TYPE
BREAKFAST                    14
SANDWHICHES                   9
STARTERS                      1
SOUP                          1
RICE BOWLS AND PASTA          1
SIDE / ADD ON                 2
JUNIOR MENU                   1
PIZZA                         2
ENTRÉE                        1
SPECIALS                      1
SALAD                         9
DESSERTS                      2

In [50]:
df5 = df_final.groupby('FOOD TYPE')['ITEM'].apply(lambda x: x.value_counts().index[-1]).reset_index(name='Least Frequent Item')
df5

               FOOD TYPE            Least Frequent Item
0              BREAKFAST                  SUB FRUIT CUP
1               DESSERTS                      ICE CREAM
2                 ENTRÉE            PAN FRIED MAHI MAHI
3            JUNIOR MENU           JR. HAWAIIAN FLATBRD
4                  PIZZA       TRIPLE PEPPERONI FLATBRD
5   RICE BOWLS AND PASTA           CASHEW BEEF STIR FRY
6                  SALAD  BLACKENED CHICKEN SALAD LARGE
7            SANDWHICHES                AHI TUNA BURGER
8          SIDE / ADD ON        SIDE SWEET POTATO FRIES
9                   SOUP              FRENCH ONION SOUP
10              SPECIALS        SUNDAY - STEAK & PRAWNS
11              STARTERS              FRI - FISH PAKORA

In [51]:
c = pd.merge(df5, b, on = 'FOOD TYPE', how = 'outer')
c

               FOOD TYPE            Least Frequent Item  Frequency
0              BREAKFAST                  SUB FRUIT CUP         14
1               DESSERTS                      ICE CREAM          2
2                 ENTRÉE            PAN FRIED MAHI MAHI          1
3            JUNIOR MENU           JR. HAWAIIAN FLATBRD          1
4                  PIZZA       TRIPLE PEPPERONI FLATBRD          2
5   RICE BOWLS AND PASTA           CASHEW BEEF STIR FRY          1
6                  SALAD  BLACKENED CHICKEN SALAD LARGE          9
7            SANDWHICHES                AHI TUNA BURGER          9
8          SIDE / ADD ON        SIDE SWEET POTATO FRIES          2
9                   SOUP              FRENCH ONION SOUP          1
10              SPECIALS        SUNDAY - STEAK & PRAWNS          1
11              STARTERS              FRI - FISH PAKORA          1